<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>first steps servlet</display-name>

    <servlet>
        <servlet-name>RestletServlet</servlet-name>
        <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
        <init-param>
            <param-name>org.restlet.application</param-name>
            <param-value>net.tetromi.RestApplication</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>net.tetromi.idocs.Idocs IdocsService</servlet-name>
        <servlet-class>net.tetromi.idocs.server.IdocsServiceImpl</servlet-class>
    </servlet>

    <!-- Catch all requests -->
    <servlet-mapping>
        <servlet-name>RestletServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!--GWT RPC-->
    <servlet-mapping>
        <servlet-name>net.tetromi.idocs.Idocs IdocsService</servlet-name>
        <url-pattern>/Idocs/IdocsService</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>manifest</extension>
        <mime-type>text/cache-manifest</mime-type>
    </mime-mapping>
</web-app>